SLACK_BOT_TOKEN=your_slack_bot_token
SLACK_SIGNING_SECRET=your_slack_signing_secret

SLACK_APPROVAL_CHANNEL=your_approval_channel_id
SLACK_SAD_CHANNEL=your_sad_channel_id


POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ENVIRONMENT=development

# Generate with:
# openssl rand -hex 32
EVENTS_RSVP_SECRET=your_events_rsvp_secret
